
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TITLE*/
.title-div{
  width: 100%;
}
.title-div h1{
  width: fit-content;
  font-size: 80px;
  margin: 20px auto;
  color: rgb(95, 104, 102);
}

/*CHOOSE BOARD*/


/*BOARDS*/
.game-boards{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.board{
  width: 500px;
  height: 500px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
}

.board-square{
  width: 10%;
  height: 10%;
  background-color: rgb(173, 204, 197);
  border: 1px solid rgb(95, 104, 102);
}
.display-hover:hover{
  background-color: rgb(105, 150, 141);
}
.board-square-miss{
  background-color: rgb(143, 155, 153);
}
.board-square-hit{
  background-color: rgb(150, 118, 116);
}
.square-isShip{
  background-color: rgb(115, 156, 148);
}


.board-basic-square-active{
  background-color: rgb(80, 112, 105);
}

/*SCORE*/
.game-scores{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.score{
  margin: 50px 20px;
  display:flex;
  flex-direction: column;
  color: rgb(95, 104, 102);
  padding: 15px 30px;
  border: 2px solid rgb(95, 104, 102);
  width: fit-content;
}
.score h2{
  width: fit-content;
  align-self: center;
  font-size: 50px;
}

.score h3{
  width: fit-content;
  font-size: 25px;
}